<!-- fondo incio -->
<a class="navbar-brand" href="/homes/sesion" style="color:rgb(35, 223, 76)" face="monaco" size="4">Iniciar /</a>
<a class="navbar-brand" href="/homes/crear" style="color:rgb(35, 223, 76)" face="monaco" size="4">Crear</a>
</nav>
</h1>

<title>Castellano</title>
<br><br><br>

<h1>
    <center><h1 style="color:rgb(35, 223, 91)" face="monaco">Castellano</h1></center>
<br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Lenguaje y comunicación. Competencia lingüística y competencia comunicativa.</font></a>
    <br><br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Teorías lingüísticas actuales.</font></a>
    <br><br>
    <a href="/homes/pagina"style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Lenguaje y pensamiento.</font></a>
    <br><br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Lenguaje verbal y lenguajes no verbales en la comunicación humana. Relaciones.</font></a>
    <br><br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Los medios de comunicación, hoy. Información, opinión y persuasión. La publicidad.</font></a>
    <br><br>
</h1>