<!-- fondo incio -->
<a class="navbar-brand" href="/homes/sesion" style="color:rgb(35, 223, 76)" face="monaco" size="4">Iniciar /</a>
<a class="navbar-brand" href="/homes/crear" style="color:rgb(35, 223, 76)" face="monaco" size="4">Crear</a>
</nav>
</h1>

<title>Naturales</title>
<br><br><br>

<h1>
    <center><h1 style="color:rgb(35, 223, 91)" face="monaco">Naturales</h1></center>
<br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Los seres vivos.</font></a>
    <br><br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Las plantas.</font></a>
    <br><br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Los animales.</font></a>
    <br><br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-Vida vegetal.</font></a>
    <br><br>
    <a href="/homes/pagina" style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">-El cuerpo humano y la salud. </font></a>
    <br><br>