
</nav>
</h1>
<title>Crear</title>
<br><br><br>
<h1><center>
  Crear
<form action="crearUsu" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="nombre">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Apellido</label>
    <input type="text" class="form-control" name="apellidos">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo</label>
    <input type="text" class="form-control" name="correo">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Contraseña</label>
    <input type="text" class="form-control" name="contrasena">
  </div>
  <select class="form-select" aria-label="Default select example" name="id_roles">
  <option >Rol que desempeña</option>
  <option value="2">Docente</option>
  <option value="1">Estudiante</option>
</select>

  <button type="submit" class="btn btn-primary">enviar</button>
</form>
</center></h1>