<!-- fondo incio -->
<a class="navbar-brand" href="/homes/sesion" style="color:rgb(35, 223, 76)" face="monaco" size="4">Iniciar /</a>
<a class="navbar-brand" href="/homes/crear" style="color:rgb(35, 223, 76)" face="monaco" size="4">Crear</a>
</nav>
</h1>

<title>Ontología</title>
<br><br><br>

<h1>
    <center><h1 style="color:rgb(35, 223, 91)" face="monaco">Filosofia</h1></center>
<br>
    <h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="4">O tambien llamado metafísica general
        es la rama de la filosofía que estudia lo que hay, así como las relaciones entre los entes (por ejemplo,
        la relación entre un universal —como el rojo— y un particular que lo "tiene" —como una manzana) o la 
        relación entre un acto (como el que Sócrates bebiera la cicuta) y sus participantes (Sócrates y la cicuta).</font></h1>
    <br><br>
    <img class="navbar-brand" src="https://conceptodefinicion.de/wp-content/uploads/2014/09/ontologia.jpg" width="380px" height="400px"></a>
<br><br>
    
</h1>