<!-- fondo incio -->
<a class="navbar-brand" style="color:rgb(173, 223, 35)" face="monaco" href="/homes/temasD2" size="4">Materiales</a>
<a class="navbar-brand" style="color:rgb(173, 223, 35)" face="monaco" href="/homes/usuario" size="4">Usuarios</a>
<a class="navbar-brand" style="color:rgb(173, 223, 35)" face="monaco" href="/homes/temaD1" size="4">Administrar</a>
<img class="navbar-brand" src="https://i1.wp.com/docencia-online.com/wp-content/uploads/2016/05/docencia-online-mediana.png?w=840" width="48px" height="50px"></a>
<a class="navbar-brand" style="color:rgb(35, 223, 76)" face="monaco" size="4">docente/pepito</a>
</nav>
</h1>
<title>TemasD1</title>
<br><br><br>

<h1>
    <center><h1 style="color:rgb(35, 223, 91)" face="monaco">Temas</h1></center>
</h1>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add1" >Añadir</a>
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Temas</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Castellano</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Filosofia</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Fisica</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Informatica</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Ingles</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Matematica</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Naturales</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Quimica</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Sociales</td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>