<!-- fondo incio -->
<a class="navbar-brand" style="color:rgb(173, 223, 35)" face="monaco" href="/homes/temaD1" size="4">Administrar</a>
<img class="navbar-brand" src="https://i1.wp.com/docencia-online.com/wp-content/uploads/2016/05/docencia-online-mediana.png?w=840" width="48px" height="50px"></a>
<a class="navbar-brand" style="color:rgb(35, 223, 76)" face="monaco" size="4">docente/pepito</a>
</nav>
</h1>
<title>TemasD1</title>
<br><br><br>

<h1>
    <center><h1 style="color:rgb(35, 223, 91)" face="monaco">Materiales</h1></center>
</h1>

<!-- Materias -->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Castellano</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Lenguaje y comunicación. Competencia lingüística y competencia comunicativa.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Teorías lingüísticas actuales.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Lenguaje y pensamiento.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Lenguaje verbal y lenguajes no verbales en la comunicación humana. Relaciones.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Los medios de comunicación, hoy. Información, opinión y persuasión. La publicidad.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Materias 2-->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Filosofia</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Ontología.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Método científico.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Paradoja.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Conductismo.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Moral.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Materias 3-->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Fisica</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Movimiento Rectilineo.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Las leyes de Newton.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Las fuerzas.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Calor y energía.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Electricidad.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Materias 4-->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Informatica</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Arquitectura del Hardware.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Historia de la computación.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Programación paralela.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Desarrollo Colaborativo.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Electricidad.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Materias 5-->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Ingles</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Past Perfect.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Past Simple.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>To Be.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Future Perfect.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Future Simple.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Materias 6-->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Matematica</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Números naturales. Sistemas de numeración.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Fundamentos y aplicaciones de la teoría de grafos. Diagramas en árbol.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Números racionales.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Números enteros. Divisibilidad. Números primos. Congruencia.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Números reales. Topología de la recta real.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Materias 7-->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Naturales</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Los seres vivos.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Las plantas.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Los animales.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Vida vegetal.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>El cuerpo humano y la salud.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Materias 8-->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Quimica</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>ESTRUCTURA ATÓMICA Y TABLA PERIÓDICA.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>SOLUCIONES.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>TERMODINÁMICA Y TERMOQUÍMICA.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>CINÉTICA.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>ESTADOS DE LA MATERIA.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Materias 9-->
<h1 style="text-decoration:none" face="monaco"> <font color="(0, 0, 0)" size="5">Sociales</font></h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn btn-outline-success" type="submit" href="/homes/add2" >Añadir</a>

<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Borrar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Sociología: conceptos y prácticas.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>La psicología de lo social.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>La economía como ciencia social.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>La salud en una comunidad.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>La salud pública.</td>
                    <td><img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="30px" height="40px"></a></td>
                    <td><button>Borrar</button></td>
                    <td><button>Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>