<!-- fondo incio -->
<a class="navbar-brand" style="color:rgb(173, 223, 35)" face="monaco" href="/usuario/listarUsuario" size="4">Usuarios</a>
<a class="navbar-brand" style="color:rgb(173, 223, 35)" face="monaco" href="/tema/listarTema" size="4">Temas</a>
<a class="navbar-brand" style="color:rgb(173, 223, 35)" face="monaco" href="/material/listarMaterial" size="4">Material</a>
<img class="navbar-brand" src="https://i1.wp.com/docencia-online.com/wp-content/uploads/2016/05/docencia-online-mediana.png?w=840" width="48px" height="50px"></a>
<a class="navbar-brand" style="color:rgb(35, 223, 76)" face="monaco" size="4">docente/pepito</a>
</nav>
</h1>
<title>HomeDocente</title>
<br><br><br>
<img class="navbar-brand" src="https://w7.pngwing.com/pngs/373/799/png-transparent-computer-icons-feedburner-web-feed-burner-logo-monochrome-rss-thumbnail.png" width="380px" height="400px"></a>

<br><br><br>
<center>
<form class="d-flex">
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="form-control "  type="search" placeholder="Palabra clave..." aria-label="Search">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </form><br>
        <a class="btn btn-outline-success" type="submit" href="/homes/buscar" >Buscar</a>
        &nbsp; 
<br><br><br>
</center>
<h1><br></h1>