<!-- fondo incio -->
<a class="navbar-brand" href="/homes/sesion" style="color:rgb(35, 223, 76)" face="monaco" size="4">Iniciar /</a>
<a class="navbar-brand" href="/homes/crear" style="color:rgb(35, 223, 76)" face="monaco" size="4">Crear</a>
</nav>
</h1>

<title>Home</title>
<br><br><br>
<img class="navbar-brand" src="/img/logo.png" width="380px" height="400px">
<br><br><br>
<center>
<form class="d-flex">
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="form-control "  type="search" placeholder="Palabra clave..." aria-label="Search">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </form><br>
        <a class="btn btn-outline-success" type="submit" href="/homes/buscar" >Buscar</a>
        &nbsp; 
<br><br><br>
</center>
<h1><br></h1>
