
</nav>
</h1>
<title>session</title>
<br><br><br>
<h1><center>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Contraseña</label>
    <input type="text" class="form-control" id="contraseña">
  </div>

  <button type="submit" class="btn btn-primary" href="/homes/home" >enviar</button>
</form>
</center></h1>